
<nav class= "container-fluid navbar" ng-controller="SidebarController">
    <div class="row .leftside">
        <div class="col-sm-3 col-md-2 .sidebar sidebar-left">
            <ul class="nav .navbar-nav .nav-sidebar nav-pills nav-stacked">
                <li ng-class="{'active' : $location.url() == '/home'}" >
                    <a href="#/home" >Home </a></li>
                <li ng-class="{'active' : $location.url().indexOf('profile') !=-1 }" ng-show="isLoggedIn">
                    <a href="#/profile" >Profile</a></li>
                <li ng-class="{'active' : $location.url().indexOf('admin') !=-1 }" ng-show="adminPriv">
                    <a href="#/admin" >Admin</a></li>
                <li ng-class="{'active' : $location.url().indexOf('docs') !=-1 }" ng-show="isLoggedIn">
                    <a href="#/docs" >My Docs</a></li>
                <li ng-class="{'active' : $location.url().indexOf('browse') !=-1 }">
                    <a href="#/docs" >Browse Users</a></li>
                <li ng-class="{'active' : $location.url().indexOf('shared') !=-1 }" ng-show="isLoggedIn">
                    <a href="#/docs" >Shared Docs</a></li>
                <li ng-class="{'active' : $location.url().indexOf('favored') !=-1 }" ng-show="isLoggedIn">
                    <a href="#/docs" >Favored Reviewers</a></li>
            </ul>
        </div>
    </div>

</nav>

