<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forms</title>
</head>

<body>
<div class="container-fluid" ng-controller="FormsController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <label for="table1">
                <ul class="nav nav-tabs" ng-init>
                    <li ng-click="$showFields=false"><a>Forms</a></li>
                    <li ng-click="$showFields=true"><a>Fields</a></li>
                </ul>
            </label>

            <table id="table1" class="table table-responsive table-striped table-bordered"
            ng-hide="$showFields">
                <thead>
                <tr>
                    <th>Form Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="name"
                               ng-model="selected">
                    </td>
                    <td>
                        <button class="btn btn-default" type="submit" ng-click="addForm()">
                            <span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-default" type="submit" ng-click="updateForm()">
                            <span class="glyphicon glyphicon-ok"></span></button>
                    </td>
                </tr>

                <tbody>
                <tr>{{myForms}}</tr>
                <tr ng-repeat="td_form in myForms">
                    <td>{{td_form.title}}</td>
                    <td>
                        <button class="btn btn-default" type="submit" ng-click="deleteForm()">
                            <span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default" type="submit" ng-click="selectForm()">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>




</body>
</html>
