
<tr>
    <td>Registration Form</td>
    <td>
        <button class="btn btn-default" type="submit" ng-click="deleteForm()">
            <span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="submit" ng-click="selectForm()">
            <span class="glyphicon glyphicon-pencil"></span></button>
    </td>
</tr>
<tr>
    <td>Contact List</td>
    <td>
        <button class="btn btn-default" type="submit" ng-click="deleteForm()">
            <span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="submit" ng-click="selectForm()">
            <span class="glyphicon glyphicon-pencil"></span></button>
    </td>
</tr>
<tr>
    <td>To Do List</td>
    <td>
        <button class="btn btn-default" type="submit" ng-click="deleteForm()">
            <span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="submit" ng-click="selectForm()">
            <span class="glyphicon glyphicon-pencil"></span></button>
    </td>
</tr>
</table>