{{$isLoggedIn}}
{{$currentUser.firstName}}
<nav class="container-fluid navbar" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 .sidebar">
            <ul class="nav .navbar-nav .nav-sidebar sidebar-nav">
                <li ng-class="{'active' : $location.url().indexOf('home'!= -1)}">
                    <a href="#/home" >Home</a></li>
                <li ng-class="{'active' : $location.url().indexOf('profile') !=-1 }" ng-show="$isLoggedIn">
                    <a href="#/profile" >Profile</a></li>
                <li ng-show="$adminPriv">
                    <a href="#/admin" ng-class="{'active' : $location.url() == '/admin'}">Admin</a></li>
                <li ng-show="$isLoggedIn">
                    <a href="#/forms" ng-class="{'active' : $location.url() == '/forms'}">Forms</a></li>
            </ul>
        </div>
    </div>
</nav>

