
<div class="container-fluid" ng-controller="ProfileController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Profile</h1>
            <div >
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label">Username   </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userName"
                                    placeholder="{{userNameInput}}" ng-model="username">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="Password"
                                   placeholder="{{passwordInput}}" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstName"
                                   placeholder="{{firstNameInput}}" ng-model="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastName"
                                   placeholder="{{lastNameInput}}" ng-model="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email"
                                   placeholder="{{emailInput}}" ng-model="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default"
                            ng-click="update()">Update</button>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>Average Courtesy: </p>{{courtesyInput}}
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>Average Constructiveness: </p>{{constructivenessInput}}
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>Average Clarity: </p>{{clarityInput}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

