<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>

<body>

<div class="container-fluid" ng-controller="AdminController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <label for="table1">
                <ul class="nav nav-tabs" ng-init>
                    <li><a>Current Users</a></li>
                </ul>
            </label>


            <table id="table1" class="table table-responsive table-striped table-bordered">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr>
                    <td>
                        <input type="text" class="form-control" id="selectedTitle"
                               ng-model="selectedName">
                    </td>
                    <td>
                        <button class="btn btn-default" type="submit" ng-click="addUser()">
                            <span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-default" type="submit" ng-click="updateUser()">
                            <span class="glyphicon glyphicon-ok"></span></button>
                    </td>
                </tr>
                <tr ng-repeat="td_user in allUsers track by $index">
                    <td>{{td_user.Username}}</td>
                    <td class="form-group">
                        <button class="btn btn-default" type="submit" ng-click="deleteUser($index)">
                            <span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default" type="submit" ng-click="selectUser($index)">
                            <span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>
