
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Welcome !</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit erat velit, quis cursus risus luctus efficitur. Etiam gravida, odio quis iaculis consequat, tortor erat sodales tellus, et facilisis tellus erat quis nunc. Curabitur elementum ac est nec cursus. Aenean luctus mollis quam non posuere. Ut a quam nibh. Vestibulum nibh sapien, aliquam quis posuere at, pellentesque quis lorem. In in ultrices metus. Pellentesque vulputate nisi nisl, non auctor tellus mollis nec.
            </p>
        </div>
    </div>
</div>

<a href="https://docs.google.com/document/d/18j1q6Y23Kxf9v4pBJtgZ2cnYswqY_vtdTJKI67B8DSk/edit?usp=sharing">
    link to google doc
</a>
